.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .todos {
    margin: 0 0 2em 0;
    padding: 0;
    width: 15em;
    list-style-type: none;

    li {
      background-color: steelblue;
      border-radius: 4px;
      padding: 4px;
      color: white;
      margin: 2px;
    }
  }
}
